<main>Val agents</main>



<main class="container d-flex flex-wrap justify-content-center gap-5">
   @for(elemento of Losdatos; track elemento.fullPortraitV2){
       <div class="card" style="width: 18rem;">
           <img src="{{elemento.fullPortraitV2}}" class="card-img-top" alt="foto de {{elemento.displayName}}">
           <div class="card-body">
               <h5 class="card-title">{{elemento.description}}</h5>
               <p class="card-text">Se puede jugar: {{elemento.isPlayableCharacter}}</p>
           </div>
       </div>
   }
</main>

    
   
<footer></footer>
<!--<router-outlet />-->


    